<div class="text-center marginAdmin">
  <h3> Panel de Administracion</h3>
  <h6>Desde este lugar va a poder agregar nuevas propiedades, modificar o eliminar las existentes, ver estadisticas de cada propiedad y del sitio en general.</h6>

  <div class="row">
    <div class="col-sm marginForm"><a href="#" class="btn btn-success btn-block" [routerLink]="['nueva']" ><i class="fas fa-home"></i> Nueva Propiedad</a></div>
    <div class="col-sm marginForm"><a href="#" class="btn btn-success btn-block" [routerLink]="['ver']" ><i class="fas fa-search"></i> Ver / Editar Propiedades</a></div>
    <div class="col-sm marginForm"><a href="#" class="btn btn-success btn-block"><i class="fas fa-chart-pie"></i> Estadisticas del Sitio</a></div>
  </div>


</div>
