<footer class="page-footer font-small cuerpoFooter text-white pt-4 mt-4">
    <div class="container">
        <div class="row mb-2 text-center d-flex justify-content-center text-uppercase">
            <div class="col-md-2 mb-3"><h6 class="font-weight-bold"><a href="#!" class="footerLink menuH">Inicio</a></h6></div>
            <div class="col-md-2 mb-3"><h6 class="font-weight-bold"><a href="#!" class="footerLink">Empresa</a></h6></div>
            <div class="col-md-2 mb-3"><h6 class="font-weight-bold"><a href="#!" class="footerLink">Alquileres</a></h6></div>
            <div class="col-md-2 mb-3"><h6 class="font-weight-bold"><a href="#!" class="footerLink">Ventas</a></h6></div>
            <div class="col-md-2 mb-3"><h6 class="font-weight-bold"><a href="#!" class="footerLink">Tasaciones</a></h6></div>
            <div class="col-md-2 mb-3"><h6 class="font-weight-bold"><a href="#!" class="footerLink">Contacto</a></h6></div>
        </div>

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
        <div class="row d-flex  justify-content-center mb-md-0 mb-4">

            <!--Google Maps-->
            <div class="col-md-4 col-12 mt-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.39698216307!2d-58.56422699145755!3d-34.66992896994989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc62cc3ef7083%3A0x8867107f425fade5!2sUniversidad+Nacional+de+La+Matanza!5e0!3m2!1ses!2sar!4v1524521603322" width="100%" height="258" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!--Fin Google Maps-->

            <!--Datos de Contacto-->
            <div class="col-md-5 col-12 mt-5 justify-content-center">
              <form>
                  <div class="md-form"><input type="text" id="materialFormContactNameEx" class="form-control" placeholder="Nombre"></div>
                  <div class="md-form marginForm"><input type="email" id="materialFormContactEmailEx" class="form-control" placeholder="Email"></div>
                  <div class="md-form marginForm"><textarea type="text" id="materialFormContactMessageEx" class="form-control md-textarea" rows="3" placeholder="Su consulta..."></textarea></div>
                  <div class="text-center mt-4 marginForm"><button class="btn btn-outline-success btn-block" type="submit">Enviar Consulta</button></div>
              </form>
            </div>
            <!--Fin Datos de Contacto-->

            <!--Datos de Contacto II-->
            <div class="col-md-3 col-12 mt-5">
              <p><i class="fa fa-home mr-3"></i> Av. Imaginaria 1582</p>
              <p><i class="fa fa-envelope mr-3"></i> contacto@inmobiliaria.com</p>
              <p><i class="fa fa-phone mr-3"></i> 4444-5555</p>
              <p><i class="fa fa-mobile mr-3"></i>  11-2222-4444</p>
              <p><i class="fa fa-clock mr-3"></i> Lunes a Viernes de 10 a 18</p>
            </div>
            <!--Fin Datos de Contacto II-->

        </div>
        <!--Grid row-->



    </div>


    <hr>

    <!--Redes Sociales-->
    <div class="text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn-floating mx-1" href="#" target="_blank">
                    <img src="/assets/img/redessoc/facebook.png" alt="">
                </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating mx-1" href="#" target="_blank">
                  <img src="/assets/img/redessoc/twitter.png" alt="">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating mx-1" href="#" target="_blank">
                  <img src="/assets/img/redessoc/googleplus.png" alt="">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating mx-1" href="#" target="_blank">
                  <img src="/assets/img/redessoc/instagram.png" alt="">
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating mx-1" href="#" target="_blank">
                  <img src="/assets/img/redessoc/youtube.png" alt="">
              </a>
            </li>
        </ul>
    </div>
    <!--Fin Redes Sociales-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">© 2018 Copyright: <a href="http://google.com.ar" class="footerLink" target="_blank">Juan Manuel Caffi</a></div>
    <!-- Fin Copyright-->

</footer>
